.hero-banner {
 background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1626957902611-81189024dd78?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1203&q=80");
 background-position: center;
 background-size: cover;

 align-items: center;
 display: flex;
 justify-content: center;

 color: white;

 height: 600px;
 padding: 32px 0;
}

.hero-banner h1 {
 font-size: 40px;
 margin: 0;
}

.hero-banner p {
 color: rgba(255, 255, 255, 0.8);
 font-size: 20px;
 margin: 0 0 16px 0;
}